.btn-group button {
    background-color: black; /* Green background */
    border: 1px solid darkgray; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    display: block; /* Make the buttons appear below each other */
    margin-top: "5px"; 
}

.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: darkgray;
}